<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="/admin/includes/head_admin.html::head"></div>
<body>
	<div th:include="/admin/includes/header_admin.html::header"></div>


	<section>
		<table id="tabla_hoteles" class="table table-striped table-bordered"
			style="width: 60%">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Categoria</th>
					<th>Zona</th>
					<th>Direccion</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="hotel : ${lista}">
					<tr>
						<td th:text="${hotel.nombre}"></td>
						<td th:text="${hotel.categoria}"></td>
						<td th:text="${hotel.zona}"></td>
						<td th:text="${hotel.direccion}"></td>
						<td></td>
						<td>
							<button>Gestionar Habitaciones</button>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</section>

	<div th:replace="/admin/includes/footer_admin.html::footer"></div>



</body>
</html>