<html xmlns:th="http://www.thymeleaf.org">
<script src="js/regex_email.js"></script>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">ReserVago</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Hoteles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reservas</a>
                </li>
            </ul>
            <!-- Button trigger modal -->
            <a href="../../registro.html" class="btn btn-info py-3" data-target="#reg_ses">Registrarse</a>
            
            <a href="../../login.html" class="btn btn-info" data-target="#inicio_ses">Login</a>
        </div>
    </nav>
</header>


</html>