<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="fixed-top">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" th:href="@{/inicio}">ReserVago</a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item"><a class="nav-link"  th:href="@{/inicio}">Hoteles</a></li>
			</ul>
			<!-- Button trigger modal -->
			<div>
				<span th:if="${usuario == null}"> <a th:href="@{/registro}"
					class="btn btn-outline-info mr-2">Registrarse</a> <a
					th:href="@{/login}" class="btn btn-outline-info">Login</a>
				</span>
				<div th:unless="${usuario == null}">
					<div class="row mr-lg-3 mt-lg-0 mt-1">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button"
								id="dropdownMenuButton" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false" th:text="${usuario}">
								<!-- Nombre de usuario en th:text -->
							</button>
							<div class="dropdown-menu dropdown-menu-right mt-2"
								aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Reservas</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Cuenta</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" th:href="@{/logout}">Cerrar sesion</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
</html>