<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="home">
	<div class="position-relative overflow-hidden text-center">
		<div class="col-md-8 p-lg-2 mx-auto my-5">
			<h1 class="display-4 font-weight-normal">
				<font style="vertical-align: inherit;">BIENVENIDO</font>
			</h1>
			<p class="lead font-weight-normal">
				<font style="vertical-align: inherit;">Esta es una recomendación de nuestros mejores hoteles a tu disposición</font>
			</p>
			<p class="lead font-weight-normal">
				<font style="vertical-align: inherit;"></font>
			</p>
			<hr>
		</div>
	</div>
</section>
</html>