
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="home" th:id="home" class="position-relative overflow-hidden text-center bg-light" id="text">
	<div class="col-md-8 p-lg-2 mx-auto my-5">
		<h1 class="display-4 font-weight-normal">
			<font style="vertical-align: inherit;">BIENVENIDO</font>
		</h1>
		<p class="lead font-weight-normal">
			<font style="vertical-align: inherit;"></font>
		</p>
		<p class="lead font-weight-normal">
			<font style="vertical-align: inherit;"></font>
		</p>
	</div>
</div>