<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="position-relative overflow-hidden text-center">
		<div class="col-md-8 p-lg-2 mx-auto my-5">
			<h1 class="display-4 font-weight-normal">
				<font style="vertical-align: inherit;">UPSSS!!</font>
			</h1>
			<p class="lead font-weight-normal">
				<font style="vertical-align: inherit;">Algo no ha ido como se esperaba</font>
			</p>
			<p class="lead font-weight-normal">
				<font style="vertical-align: inherit;">Vuelve a intentarlo mas adelante</font>
			</p>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</html>