<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<meta charset="utf-8">
		<title>Pagina inicio</title>
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<style th:inline="text">
    body{
        background-image: url{[[@{/images/home_mountain.jpg}]]}
                    no-repeat center center fixed;
    }
</style>
	</head>
	
	<body> 
		<div th:include="/jsp/includes/header.html::header"></div>
		
		<section th:include="/jsp/includes/home.html::home"></section>
		<section th:include="/jsp/includes/hoteles.html::hoteles"></section>
		
		<div th:include="/jsp/includes/footer.html::footer"></div>
	</body>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</html>