<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registro</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script type="text/javascript" src="../static/js/validacion.js"></script>
</head>
<body>
	<div th:replace="/jsp/includes/header.html::header"></div>
	
	<div class="position-relative overflow-hidden text-center bg-light">
		<div class="col-md-8 p-lg-2 mx-auto my-5">
					<form th:object="${clienteNuevo}" th:action="@{/register}" id="registerForm" method="POST">
				<div class="form-group">
					<label for="input_nombre">Nombre*</label> <input th:field="*{nombre}" type="text"
						class="form-control" aria-describedby="Nombre"
						placeholder="Nombre" onblur="valida_nombre_apellidos(this)" required>
				</div>
				<div class="form-group">
					<label for="input_apellidos">Apellidos*</label> <input th:field="*{apellido}" type="text"
						class="form-control" aria-describedby="Apellidos"
						placeholder="Apellidos" onblur="valida_nombre_apellidos(this)" required>
				</div>
				<div class="form-group">
					<label for="input_dni">DNI - NIF*</label> <input th:field="*{dni}" type="text"
						class="form-control" aria-describedby="DNI" required>
				</div>
				<div class="form-group">
					<label for="input_email">Email*</label> <input th:field="*{email}" type="email"
						class="form-control" aria-describedby="emailHelp"
						placeholder="ejemplo@ejemplo.com" onfocus="checkEmail()" required>
					<span id="si"></span><span id="no" style="color: red"></span>
				</div>
				<div class="form-group">
					<label for="input_pass">Contraseña*</label> <input th:field="*{passwd}" type="password"
						class="form-control" placeholder="Contraseña" required>
				</div>
				<div class="form-group">
					<label for="input_pass">Repite contraseña*</label> <input
						type="password" id="pass2" class="form-control" placeholder=""
						required>
				</div>
				<div class="form-group">
					<label for="input_direccion">Dirección</label> <input th:field="*{direccion}" type="text"
						class="form-control" id="direccion" aria-describedby="Direccion"
						placeholder="C/ La Piruleta, 2">
				</div>
				<div class="form-group">
					<label for="input_CP">Código postal</label> <input th:field="*{codigoPostal}" type="number"
						class="form-control" aria-describedby="Codigo_postal"
						placeholder="00000" maxlength="5">
				</div>
				<div class="form-group">
					<label for="input_ciudad">Ciudad</label> <input th:field="*{ciudad}" type="text"
						class="form-control" aria-describedby="Ciudad"
						placeholder="Oviedo">
				</div>
				<p class="font-weight-light text-sm-left">* Los campos son
					obligatorios</p>
				<input type="submit" value="Registrarse" class="btn btn-success">
			</form>
			<p style="color: green; font-size: 12px;" th:if="${msg != null}" th:text="${msg} ?: ''"></p>
		</div>
	</div>
	
	<div th:replace="/jsp/includes/footer.html::footer"></div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>